<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>PrimerServlet</servlet-name>
        <servlet-class>servlets.PrimerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlasmidServlet</servlet-name>
        <servlet-class>servlets.PlasmidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceServlet</servlet-name>
        <servlet-class>servlets.SequenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceUploadServlet</servlet-name>
        <servlet-class>servlets.SequenceUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoreServlet</servlet-name>
        <servlet-class>servlets.ChoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtocolServlet</servlet-name>
        <servlet-class>servlets.ProtocolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtocolUploadServlet</servlet-name>
        <servlet-class>servlets.ProtocolUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeopleServlet</servlet-name>
        <servlet-class>servlets.PeopleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimerServlet</servlet-name>
        <url-pattern>/Primer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlasmidServlet</servlet-name>
        <url-pattern>/Plasmid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoreServlet</servlet-name>
        <url-pattern>/Chore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequenceServlet</servlet-name>
        <url-pattern>/Sequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequenceUploadServlet</servlet-name>
        <url-pattern>/SequenceUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtocolServlet</servlet-name>
        <url-pattern>/Protocol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtocolUploadServlet</servlet-name>
        <url-pattern>/ProtocolUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeopleServlet</servlet-name>
        <url-pattern>/People</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>page1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
